@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    font-family: "Inter", sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    max-width: 1440px;
       /* border: 2px dashed green;    */
    
}
/* default styles */
*{
    margin: 0;
    padding: 0;
     /* border: 1px solid red;    */
}
.btn-primary{
    width: 5.5rem;
    height: 2.25rem;
   padding: 0.1px;
    border-radius: 46px;
    color: rgb(255, 255, 255);
border: none;
background: rgb(230, 83, 60);
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.btn-primary:hover{
    background-color: rgb(132, 92, 92);
}
.btn-primary:active{
    background-color: blueviolet;
    box-shadow: 0 5px blue;
    transform: translateY(4px);
}
.ham-burger{
    display: none;
}

/* navbar section  */
.nav-container{
    max-width: 1440px;
    width: 70%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
}
.nav-name{
    color: rgb(230, 83, 60);
font-size: 2.2rem;
font-weight: 800;
line-height: 120%;
font-style: italic;
}
.nav-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.85rem;
    box-sizing: border-box;
border: 1.5px solid rgba(255, 255, 255, 0.2);
border-radius: 39px;
padding: 0.6rem;

}

/* banner section  */
.banner{
    max-width: 1440px;
    width: 70%;
    height: 30rem;
    margin: 0 auto;
    margin-top: 2.85rem;
    display: flex;
    justify-content: space-between;
  gap: 50px;
  
  
   
}

.banner-desc{
    margin-top: 3rem;
}
.banner-desc h3{
    font-size: 5rem;
    font-weight: 800;
    padding: 2.5rem 0 1.5rem 0;
    line-height: 90px;
   
}
.shape{
    /* font-family: "Dancing Script", cursive; */
    font-family: 'Miama', sans-serif;
    font-size: 8rem;
    font-weight: 500;
}
.banner-desc p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
padding-bottom: 1.5rem;
padding-right: 2.5rem;
}

.banner-button{
    display: flex;
    justify-content: flex-start;
    gap: 1.25rem;
}
.banner-button .btn-primary{
    width: 14rem;
    padding: 1.5rem;
    font-size: 1rem;
font-weight: 500;
}
.banner-button .download{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}
.banner-img {
position: relative;
    width: 70%;
}
.banner-img img{
    
    width: 100%;
    padding-left: 2rem;
}
.banner-img .video-tutorial {
    position: absolute;
    width: 11rem;
    height: 5.5rem;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(5px);
background: rgba(48, 48, 48, 0.54);
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
top: 85%;
right:65%;




}
.video-tutorial .circle{
    background: rgb(230, 83, 60);
    border-radius: 50%;
    height:2rem;
    width: 2rem;
}
.circle i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.video-tutorial h3{
 font-size: 1.2rem;
 font-weight: 800;
}
.video-tutorial p , .workout p{
    color: rgba(239, 237, 232, 0.65);
font-size: 1rem;
font-weight: 400;


}
.workout{
 
    display: flex;
    flex-direction: column;
   left: 70%;
   position: absolute;
   bottom: 55%;
   width: 11rem;
   height: 5.5rem;
   box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(100%);
background: rgba(48, 48, 48, 0.8);

padding: 1rem;
   
}
.workout h3{
font-size: 1.75rem;
font-weight: 800;


}
.workout p{
    font-size: 0.75rem;
}


/* habits section */
.habits-container{
    width: 70%;
    height: 30rem;
    margin: 0 auto;
    
    text-align: center;
    margin-top: 13rem;
}
.habits-container h3{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 1rem;
}
.habits-container p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
padding: 1rem 10rem 2rem;

}
.cards{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
}
.card img{
    border-radius: 50%;
}
.card h3{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 0;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 1rem 3rem 0;

    
}

/* extra mile section */
.extra-mile{
    width: 70%;
    height: 20rem;
    margin: 0 auto;
}
.extra-mile-container{
   
   
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1.15fr 0.75fr;
    gap: 2rem;
    border-radius: 1.2rem;

background: rgb(34, 34, 34);
padding: 1.75rem;

}

.extra-mile-image img{
    width: 100%;
    height: 18rem;
    border-radius: 1.2rem;
   
    
}

.extra-mile-desc{
    margin-left: 1rem;
    padding-right: 2rem;
}
.extra-mile-desc h3{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 1rem;
}
.extra-mile-desc p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
padding-bottom: 2rem;
padding-right: 2rem;
}
.extra-mile-desc .btn-primary{
    /* padding: 1rem 5rem; */
    width: 14rem;
    padding: 1.5rem;
    font-size: 1rem;
font-weight: 500;
}

/* training & excercises section */
.training-section{
    width: 70%;
    height: 32rem;
    margin: 0 auto;
    margin-top: 12rem;
}
.training-section h3{
    color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
line-height: 120%;
text-align: left;
padding-bottom: 1rem;
}
.training-section p{
    color: rgba(255, 255, 255, 0.5);
font-size: 0.8rem;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
.training-image-container{
    margin-top: 2rem;
    gap: 0;
    padding: 0;
    height: 22rem;
    
}
.training-row-1{
    display: grid;
    grid-row-gap:0px;
    grid-template-columns: 0.75fr 1.35fr 0.9fr;
    padding-bottom: 0px;
    height: 47%;
}
.training-row-2{
    display: grid;
    grid-gap:0px;
    grid-template-columns: 1.15fr 0.85fr  1fr;
    padding-top: 0px;
    height: 55%;
    
}
 .training-image{
    position: relative;
} 
.training-image img {
 
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 0px;
}
.training-image-1{
    background: rgba(6, 255, 210, 0.5);
    overflow: hidden;
}
.training-image-1 img{
    object-fit: cover;
    opacity: 0.45;
}
.training-image-2{
    background: rgba(255, 0, 0, 0.6);
    overflow: hidden;
}
.training-image-2 img{
    object-fit: cover;
    opacity: 0.6;
}
.training-image-3{
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.training-image-3 img{
    object-fit: cover;
    opacity: 0.5;
}
.training-image-4 img{
    filter: brightness(50%);
}
.training-image-5{
    background: rgba(66, 255, 0, 0.7);
    overflow: hidden;
}
.training-image-5 img{
    object-fit: cover;
    opacity: 0.6;
}
.training-image-6{
    background: rgba(0, 71, 255, 0.5);
    overflow: hidden;
}
.training-image-6 img{
    object-fit: cover;
    opacity: 0.6;
}
.training-image p{
    color: rgb(255, 255, 255);
   position: absolute;
font-size: 0.7rem;
font-weight: 500;
line-height: 12px;
z-index: 5;
}
.training-image-1 p{
    color: rgb(0,0,0);
    font-size: 0.7rem;
    font-weight: 700;
 top: 70%;
 left: 10%;
}
.training-image-2 p{
   top: 15%;
   left: 10%;
}
.training-image-3 p{
    top: 70%;
   left: 10%;
}
.training-image-4 .full-text{
    position: absolute;
    top: 18%;
    left: 57%;
}
.training-image-4 .short-text{
    visibility: hidden;
    position: absolute;
    top: 18%;
    left: 57%;
}
.training-image-5 .full-text5{
    position: absolute;
    top: 70%;
   left: 20%;
}
.training-image-5 .short-text5{
    visibility: hidden;
    position: absolute;
    top: 70%;
   left: 20%;
}
.training-image-6 p{
    top: 65%;
   left: 20%;
}
/* calculator section */
.calculator-section{
    width: 100%;
    height: 40rem;
    /* margin: 0 auto; */
    margin-top: 8rem;
   
}
.calculator-section h3{
    color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
line-height: 120%;
padding: 0 21rem;

}
.calculator-section p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
padding: 1rem 21rem 4rem 21rem;
}
.calculator{
    width: 100%;
    height: 28rem;
    background: rgb(33, 33, 33);
    display: flex;
}
.calculator-table{
    width: 50%;
}
table{
    width: 23rem;
    height: 13rem;
margin: 0 auto;
  
}
table,th,td{
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
caption {
    color: rgb(255, 255, 255);
font-size: 2rem;
font-weight: 900;
line-height: 120%;
text-align: left;
letter-spacing: 0%;
padding: 5rem 0 3rem 0 ;

}
th{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    padding-left: 1rem;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 1rem;
}


.calculator-form{
    width: 50%;
   
}

.calculator-form h3{
    padding: 0;
    color: rgb(255, 255, 255);
font-size: 2rem;
font-weight: 900;
line-height: 120%;
text-align: left;
letter-spacing: 0%;
padding: 5rem 2rem 1rem 0;
}
.calculator-form p{
    padding: 0 0 2rem 0;
}
input[type=number],select{
    color: rgba(164, 160, 160, 0.6);
    font-size: 1rem;
    font-weight: 400;
    box-sizing: border-box;
    border-radius: 0.3rem;
    border: none;
width: 16rem;
height: 2.4rem;
background: rgba(255, 255, 255, 0.1);
padding: 0.6rem 3rem 0.7rem 1rem;
}
.input-row-1, .input-row-2, .input-row-3{
display: grid;
grid-template-columns: 40% 40%;
gap: 3%;
  padding-bottom: 12px;
}
.input-row-3 select{
    width: 35.4rem;
    height: 3rem;
}
.input-row-4 {
    padding-top: 10px;
}
.input-row-4 .btn-primary{
    width: 13rem;
    height: 2.8rem;
    font-size: 1rem;
    font-weight: 600;
}

/* meet section */
.meet-section{
    width: 70%;
    height: 50rem;
    margin: 0 auto;
    margin-top: 4rem;
}
.meet-section h3, .best-plan-section h3{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    padding-bottom: 1rem;
}

.meet-section p, .best-plan-section p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 0 8rem 4rem;
}
.meet-image-container{
   
    height: 33.5rem;
    background: rgb(33, 33, 33);
   border-radius: 1rem;
   padding: 0.5rem;
}
.meet-row-1, .meet-row-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.meet-image img{
   
    width: 92%;
    height: 15.5rem;
    background-size: cover;
    border-radius: 1.2rem;
    padding: 0.5rem;
    filter: brightness(80%);
}
.meet-image{
    position: relative;
}
.meet-image h3{
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
}
.meet-image p{
    font-size: 0.9rem;
    text-align: left;
    padding: 0;
}
.name{
    position: absolute;
    top: 70%;
    left: 10%;
}
.designation{
    position: absolute;
    top: 78%;
    left: 10%;
}


/* best plan section */
.best-plan-section{
    width: 70%;
    height: 50rem;
    margin: 0 auto;
   
}
.best-plan-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    box-sizing: border-box;
    border: 1.5px solid rgb(230, 83, 60);
    border-radius: 2rem;
    width: 17%;
    padding: 0 1rem;
    margin: 0 auto;
    
}
.best-plan-options .btn-primary{
    padding: 0 1rem 0 1rem;
    width: 115%;
}
.best-plan-options h3{
    padding: 0;
    font-size: 0.9rem;
    font-weight: 400;
    padding-right: 1.5rem;
}
.best-plan-container{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-gap: 1rem;
    margin-top: 3rem;
  
}
.best-card{
    display: flex;
    flex-direction: column;
    background: rgb(46, 45, 45);
    border-radius: 20px;
    height: 24rem;
   transition: 0.5s;
}
.best-card:hover{
    background-color: #739ff7;
    border-color: blueviolet;
}
.best-card:active{
    background-color: rgb(226, 43, 83);
    box-shadow: 0 15px blue;
    transform: translateY(30px);
}
.best-card-content{
padding: 1rem;
text-align: center;
}
.best-card-content h4{
    text-align: center;
    padding: 2rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.best-card-content h3{
font-size: 1.2rem;
font-weight: 700;
padding-bottom: 1.5rem;
}
.large{
    font-size: 2.5rem;
}
.best-card-content p{
    padding: 0;
    padding-bottom: 1rem;
    text-align: left;
    padding-left: 1.5rem;
}
.best-card-content p i{
    color: white;
    font-size: 1rem;
   padding-right: 0.5rem;
}
.best-plan-button{
    margin: 0 auto;
padding:2rem 5rem;
}
.best-card .btn-primary{
     width: 10rem;
    background: rgb(46, 45, 45);
    border: 1px solid rgb(255, 255, 255);
    font-weight: 600;
    
}
.best-card-1, .best-card-3{
    margin-top: 3rem;
}
.best-card-2{
      height: 30rem;
      background-color: rgb(230, 83, 60);
      color: white;
  
}
.best-card-2 p{
    color: white;
}
.best-card-2 .btn-primary{
    background-color: white;
    color: rgb(230, 83, 60);
    font-weight: 700;
    font-size: 1rem;
}
/* footer section  */
.footer{
    width: 100%;
    height: 28rem;
    padding: 0;
    background: rgb(33, 33, 33);
}
.footer-up{
    display: grid;
    grid-template-columns: 1.5fr 0.7fr 0.8fr;
    height: 11rem;
    padding: 5rem 0 6rem 0;
    
}
.footer-1{
padding: 0 7rem 0 8rem;
}
.footer-1 h3{
    font-size: 3.8rem;
    font-weight: 900;
    padding-bottom: 1rem;
    
}
.footer p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}

.footer-t h3{
    font-size: 1.9rem;
    padding: 1rem 0;

}
.footer-t p{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
hr{
    width: 80%;
    margin: 0 auto;
    border-color: rgba(255, 255, 255, 0.2);
}
.footer-down p{
    font-size: 1rem;
    text-align: center;
    padding: 2rem 0;
}

 /* responsive media query  */
     @media only screen  and (max-width:576px){
     
        .nav-container, .banner, .habits-container, .extra-mile , .training-section, .best-plan-section{
            
            width: 90%;
    
       
        } 
        .nav-container{
           margin-bottom: 0;
        }
        .nav-options{
            display: none;
        }
        .ham-burger{
            display: block;
        }
        .ham-burger i{
            font-size: 2rem;
            
        }

        .banner{
            flex-direction: column;
            margin-bottom: 15rem;
            margin-top: 0;
        }
        .banner-desc h3{
            font-size: 3rem;
            padding-right: 2rem;
            
           
        }
        .banner-desc p{
            padding-right: 2.9rem;
            font-size: 1.2rem;
        }
       .banner .video-tutorial{
            left: 5%;
        top: 45%;
          
        }
        .workout{
            right: 10%;
           left: 14rem;
           top: 5%;
           width: 10rem;
         
        }
        .banner-img{
            width: 90%;
        }
        .habits-container{
            margin-bottom: 82rem;
            margin-top: 50rem;
            padding: 0;
        }
        .habits-container h3{
            font-size: 2.2rem;
            font-weight: 900;
        }
        .habits-container p{
            padding: 0;
            font-size: 1.1rem;
        }

        .cards{
            flex-direction: column; 
        }
        .card img{
            width: 60%;
            padding-bottom: 1rem;
        }
        .card h3{
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }
        .card p{
            font-size: 1.3rem;
            padding-bottom: 2.5rem;
        }
        
      .extra-mile{
        margin-top: 50rem;
      }
        .extra-mile-container{
          
            height: 35rem;
            grid-template-columns: 1fr;
            
        }
        .extra-mile-desc{
            margin: 0 auto;
            padding: 0;
        }
        .extra-mile-desc h3{
            font-size: 2.8rem;
            font-weight: 900;
           
        }
        .extra-mile-desc p{
            font-size: 0.85rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
        }
        .extra-mile-desc .btn-primary{
          width: 100%;
          margin: 0 auto;
            padding: 2rem;
            font-size: 1.5rem;
            font-weight: 700;
          
        }
        .extra-mile-image img{
            width: 100%;
            height: 12rem;
            border-radius: 1.2rem;
          
         
            
        }
        .training-section{
            margin-top: 24rem;
        }
        .training-section h3{
            font-size: 2.2rem;
        }
        .training-section p{
           font-size: 0.9rem;
           font-weight: 600;
           padding-right: 2rem;
        }
        .training-row-1{
            grid-template-columns: 1fr 1fr 0fr;
        }
        .training-row-2{
            grid-template-columns: 0.95fr 1.05fr 0fr;
        }
        .training-image p{
        font-size: 1rem;
        font-weight: 400;
        }
        .training-image-1 p{
            color: rgb(255,255,255);
            top: 70%;
            left: 10%;
        }
        /* .training-image-2 img{
            object-fit: none;
        } */
        .training-image-2 p{
          top: 15%;
           left: 15%;
        }
     
       .training-image-3 p{
        visibility: hidden;
       }
       .training-image-4 .full-text{
       visibility: hidden;
    }
    .training-image-4 .short-text{
  visibility: visible;
        position: absolute;
        top: 80%;
        left: 10%;
    }
       .training-image-5 .full-text5{
            visibility: hidden;
         }
         .training-image-5 .short-text5{
       visibility: visible;
             position: absolute;
             top: 80%;
             left: 10%;
         }
        .training-image-6 p{
          visibility: hidden;
        }
        .calculator-section{
            width: 100%;
            height: 40rem;
            margin-top: 8rem;
          
        }
        .calculator-section h3{
            font-size: 2rem;
            padding: 0 0 0 1rem;
        }
        .calculator-section p{
           font-size: 1rem;
         padding: 1rem 2rem 2rem 1rem;
        }
        .calculator{
            height: 47rem;
            flex-direction: column;
          
        }
      
        table{
        padding-left: 1rem;
        padding-bottom: 2rem;
          
        }
      
        caption {
        font-size: 1.3rem;
        font-weight: 800;
        padding: 2rem 0 1.5rem 1rem ;
        
        }
        th{
            font-size: 1.2rem;
            padding-left: 1.4rem;
        }
        td{
       
            font-size: 1.1rem;
            padding-left: 1.4rem;
        }
        
        
        .calculator-form{
            width: 95%;
           padding-left: 1rem;
        }
        
        .calculator-form h3{
          
        font-size: 1.2rem;
        padding: 3rem 2rem 1rem 0;
        }
        .calculator-form p{
            padding: 1rem 2rem 1rem 0;
        }
        input[type=number],select{
            font-size: 1rem;
        width: 11.5rem;
        height: 3rem;
        padding: 0.6rem 3rem 0.7rem 1rem;
        }
        .input-row-1, .input-row-2, .input-row-3{
            grid-template-columns: 45% 45%;
            gap: 5%;
             
            }
        .input-row-3 select{
            width: 24rem;
        }
        .input-row-4 {
            padding-top: 10px;
        }
        .input-row-4 .btn-primary{
            width: 14rem;
            height: 3.5rem;
            font-size: 1.3rem;
            font-weight: 700;
        }


        .meet-section{
            width: 90%;
            height: 90rem;
            margin-top: 20rem;
        }
        .meet-section h3{
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }
        
        .meet-section p{
            font-size: 1rem;
            
            padding:0 0  3rem;
        }
        .meet-image-container{
           
            height: 75rem;
          
        }
        .meet-row-1, .meet-row-2{
            grid-template-columns: 1fr;
        }
        
        .meet-image img{
         
            width: 92%;
            height: 17rem;
           padding-left: 1rem;
           padding-bottom: 1rem;
        }
        .trainer1{
            display: none;
        }
        .trainer4{
            display: none;
        }
          .trainer5{
        
            order: 1;
           }  
        .trainer3{
       
        order: 2;
       }   
         .trainer6{
        order: 3;
       }   
        .meet-image h3{
            font-size: 1.2rem;
           
        }
        .meet-image p{
            font-size: 1rem;
            font-weight: 500;
           
        }
        .name{
            position: absolute;
            top: 70%;
            left: 10%;
        }
        .designation{
            position: absolute;
            top: 78%;
            left: 10%;
        }


        .footer{
         
            height: 60rem;
            margin-top: 12rem;
           
        }
        .footer-up{
            grid-template-columns: 1fr;
            height: 20rem;
        
            
        }
        .footer-1{
        padding: 0 3rem 0 1.5rem;
        }
        .footer-1 h3{
            font-size: 4rem;
           
            padding-bottom: 1.5rem;
            
        }
        .footer p{
           
            font-size: 1rem;
           padding-bottom: 1rem;
        }
        
        .footer-t h3{
            font-size: 2.2rem;
            padding: 1.3rem 1.2rem;
        
        }
        .footer-t p{
            font-size: 1.4rem;
            padding-bottom: 1.2rem;
            padding-left: 1.2rem;
        }
        hr{
            width: 90%;
          
           
        }
        .footer-down{
            margin-top: 23rem;
        }
        .footer-down p{
            font-size: 1.3rem;
            padding: 2rem 0;
        }

        .best-plan-section{
            height: 90rem;
            
        }

        .best-plan-section p{
         
          padding: 0 2rem 2.5rem;

           
        }
        .best-plan-options{
            gap: 1.8rem;
            width: 47%;
            padding: 0 1rem;
            }
        
        
        .best-plan-container{
           
            grid-template-columns: 1fr;
            margin-top: 1rem;
          
        }
        .best-card{
            height: 22rem;
            width: 80%;
            margin: 0 auto;
            padding-bottom: 2rem;
          
        }
        
        .best-card-content{
        padding: 1rem;
        text-align: center;
        }
        
        .best-card-content p{
            padding: 0 0 1rem 1.5rem;
        
        }
       
        .best-card-1{
            margin-top: 3rem;
        }
        .best-card-3{
            margin-top: 0;
        }
        .best-card-2{
              height: 30rem;
          
        }
        
     }